<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap.css" rel="stylesheet">
    <link rel=manifest href=/manifest.json>
    <title>EASY DNA - DNA de um jeito simplificado.</title>
    <link rel='icon' href='/icons/favicon-32x32.png'>
    <style>

        .form-control, .form-select{

            border-radius: 0;
            border-width: 0 0 2px 0;
            font-size: 10pt;
        }
        .form-label{

            font-size: 10pt;
            color: rgb(16, 114, 14);
        }

        textarea.form-control{

            border-width: 2px;
        }

    </style>
    <script type="text/javascript" src="/scripts/email.js"></script>
    <script type="text/javascript">
        (function() {
        emailjs.init("user_d1H61ykQEkpeeUqk0CQCo");
        })();
    </script>
  </head>
  <body>
    <div id='app'>
        <nav class='navbar navbar-expand-lg navbar-light' style='background-color: #17de12;'>
            <div class='container-fluid'>
                <label class='navbar-brand' style='color:#fff'>EASY DNA</label>
                <label class='navbar-brand' style='color:#fff'><b>{{greetUser}}</b></label>
                <button class='btn btn-danger btn-sm' @click='limparCadastro'>Limpar castro</button>
            </div>
        </nav>
        <div class='container-fluid form' v-if='!np'>
            <h4 class='text-center'>Primeiro acesso</h4>
            <div class='row justify-content-center'>
                <div class="mb-3 col-lg-7 col-md-12">
                    <label class="form-label mb-0">Token</label><br>
                    <input type="text" class="form-control " v-model='token' placeholder="Insira o Token fornecido pelo administrador">
                </div>
                <div class='col-lg-7 col-md-12'>
                    <button class='btn btn-primary' @click='importUserData'>Salvar</button>
                </div>
            </div>
        </div>
        <div class='container form mt-4' v-else>
            <form action="https://formsubmit.co/easydna2021@gmail.com" method="POST">
                <input type="hidden" name="_next" value="https://easydna.github.io"><input type="hidden" name="_subject" value="Comunicado de DNA"><input type="text" name="_honey" style="display:none"><input type="hidden" name="_captcha" value="false">
                <div class='row mb-5'>
                    <div class="col-4">
                        <label class="form-label mb-0">Data</label><br>
                        <input type="datetime-local" class="form-control " name='DATA' v-model='data'>
                    </div>
                    <div class="col-4">
                        <label class="form-label mb-0">Unidade</label><br>
                        <select class="form-select" v-model='unidade' name='UNIDADE'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(unidade,i) in unidades' :key='i' :value='unidade'>{{unidade}}</option>
                        </select>
                    </div>
                </div>
                <div class='row mb-5 justify-content-center'>
                    <div class="col-4">
                        <label class="form-label mb-0">Gerencia</label><br>
                        <select class="form-select" v-model='gerencia' name='GERENCIA'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(gerencia,i) in gerencias' :key='i' :value='gerencia'>{{gerencia}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="form-label mb-0">Área/Módulo</label><br>
                        <select class="form-select" v-model='equipe' name='EQUIPE'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(equipe,i) in equipes' :key='i' :value='equipe'>{{equipe}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="form-label mb-0">Equipamento</label><br>
                        <select class="form-select" v-model='equipamento' name='EQUIPAMENTO'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(equipamento,i) in equipamentos' :key='i' :value='equipe'>{{equipamento}}</option>
                        </select>
                    </div>
                </div>
                <div class='row mb-5 justify-content-center'>
                    <div class="col-6">
                        <label class="form-label mb-0">Humor do DNA</label><br>
                        <select class="form-select" v-model='humor' name='HUMOR'>
                            <option value="" selected>Selecione</option>
                            <option value='POSITIVO' selected>Positivo</option>
                            <option value='NEGATIVO'>Negativo</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label mb-0">Categoria</label><br>
                        <select class="form-select" v-model='categoria' name='CATEGORIA'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(categoria,i) in categorias' :key='i' :value='categoria'>{{categoria}}</option>
                        </select>
                    </div>
                </div>
                <div class='row mb-5 justify-content-center'>
                    <div class="col-6">
                        <label class="form-label mb-0">Item</label><br>
                        <select class="form-select" v-model='item' name='ITEM'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(item,i) in items' :key='i' :value='item'>{{item}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label mb-0">Situação ou Desvio</label><br>
                        <select class="form-select" v-model='situacao' name='SITUAÇÃO'>
                            <option value="" selected>Selecione</option>
                            <option v-for='(situacao,i) in situacoes' :key='i' :value='situacao'>{{situacao}}</option>
                        </select>
                    </div>
                </div>
                <div class='row mb-5 justify-content-center'>
                    <div class='col-12'>
                        <label class="form-label mb-0">Texto</label><br>
                        <textarea class='form-control ' v-model='texto' name='TEXTO'></textarea>
                        <!-- {{equipamento}} - {{item}} ESTÁ {{situacao}} -->
                    </div>
                </div>
                <button type='submit'>Enviar</button>
            </form>
        </div>
        <div class='container' v-if='np'>
            <div class='row mb-5 justify-content-center'>
                <div class='col-12'>
                    <button class='btn btn-primary' @click='sendForm'>Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <script src='/listas/equipe.js'></script>
    <script src='/listas/equipamento.js'></script>
    <script src='/listas/situacao.js'></script>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/dexie.js"></script>
    <script src="/scripts/uuidv4.js"></script>
    <script src="/scripts/axios.js"></script>

    <script type='module'>

    </script>

    <script>

        axios.defaults.headers.post['Content-Type'] = 'application/json'

        if ("serviceWorker" in navigator) {

            window.addEventListener("load", function() {

                navigator.serviceWorker
                .register("/serviceWorker.js",{type:'module'})
                .then(res => console.log("service worker registered"))
                .catch(err => console.log("service worker not registered", err))
            })

            navigator.serviceWorker.ready
            .then(registration => registration.sync.register('syncDNAs'))
            .then(() => console.log("Registered background sync"))
            .catch(err => console.error("Error registering background sync", err))
        }

        const db = new Dexie('easy_dna')

        db.version(1).stores({

            user:'np, nome, unidade, gerencia, equipe, token'
        })

        db.version(1).stores({

            comunicado:'uuid, np,nome,data,unidade,gerencia,equipe,equipamento,humor,categoria,item,situacao,texto,token'
        })

      let app = new Vue({
        el:'#app',
        data:{

            unidade:'',gerencia:'',equipe:'',equipamento:'',humor:'',categoria:'',item:'',situacao:'',
            texto:'',np:'',nome:'',data:'',token:'',uuid:uuidv4(),
        },
        methods:{

            async importUserData(){

                try{

                    await axios.get(`https://api.jsonstorage.net/v1/json/${this.token}`).then( res => {

                        res.data.token = this.token
                        this.saveUser(res.data)
                    })
                }
                catch(err){

                    alert('Não foi possível carregar os seus dados. Tente novamente.')
                }
            },
            sendForm: async function(){

                let data = {}
                const props = ['np','nome','data','unidade','gerencia','equipe','equipamento','humor','categoria','item','situacao','texto','token','uuid']

                for(let prop of props){

                    if(!this[prop]){

                        alert(`${prop.toUpperCase()} é obrigatório`)
                        return
                    }

                    data[prop] = this[prop]
                }

                try{

                    let res = await axios.post('https://formsubmit.co/easydna2021@gmail.com',data)
                    
                    alert('DNA comunicado com sucesso!')
                    window.location.reload()
                }
                catch(e){

                    console.log('Erro ao enviar daddos, tentando salvar offline',e)
                    this.saveOffline(data)
                    
                }

            },
            async saveOffline(data){

                try{

                    await db.comunicado.add(data)
                    window.location.reload()
                }
                catch(e){

                    alert('Erro ao salvar comunicado!', e)
                }
            },
            saveUser: async function(data){

                try{

                    await db.user.add(data)
                    window.location.reload()

                }catch(e){

                    alert('Falha ao salvar usuário. Tente novamente')
                    return
                }
            },
            limparCadastro: async function(){

                try{

                    if(!confirm('Tem certeza que deseja apagar seus dados de usuário?')){

                        return
                    }

                    await db.user.clear()
                }
                catch(e){

                    alert("Erro ao limpar cadastro. Tente novamente")
                    return
                }

                window.location.reload()
            }
        },
        computed:{

            unidades(){return _unidade()},
            gerencias(){return _gerencia(this)},
            equipes(){return _equipe(this)},
            equipamentos(){return _equipamento(this)},
            categorias(){return _categoria(this)},
            items(){return _item(this)},
            situacoes(){return _situacao(this)},
            greetUser(){

                let firstName = this.nome.split(' ')[0]
                firstName = firstName[0]+firstName.slice(1,firstName.length).toLowerCase()
                return `Olá, ${firstName} !`
            }
        },
        created: async function(){

            let d = new Date()

            this.data = `${d.toJSON().slice(0,10)}T${d.getHours()}:${d.getMinutes()}`

            if(await db.user.count() > 0 ){

                let user = await db.user.toArray()

                this.np = user[0].np
                this.nome = user[0].nome
                this.unidade = user[0].unidade
                this.gerencia = user[0].gerencia
                this.equipe = user[0].equipe
                this.token = user[0].token
            }
        }
      })
    </script>
  </body>
</html>